.datePicker {
    position: absolute;
    top: 35px;
    left: 25%;
    width: 100vh;
    display: flex;
    flex-direction: column;
}

.datePicker > h2 {
    margin: 0;
    width: 558.5px;
    padding: 10px;
    background-color: white;
    left: 0;
}

.from {
    width: 539px;
    padding: 20px;
    left: 0;
    height: 15px;
    border: none;
}

.to {
    width: 539px;
    padding: 20px;
    left: 0;
    height: 15px;
    border: none;
}

.from:focus, .to:focus {
    outline-width: 0;
}

.datePicker > button {
    text-transform: inherit !important;
    background-color: rgb(36, 125, 181);
    color: white;
    width: 579px;
}

.datePicker > button:hover {
    background-color: white;
    color: rgb(36, 125, 181);
}